// Переменные
$primary-color: #3498db;
$secondary-color: #2ecc71;
$font-family: Arial, sans-serif;

// Общие стили
body {
    font-family: $font-family;
    background-color: #f4f4f4;
}

// Кнопка
.custom-btn {
    background-color: $primary-color;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
        background-color: $secondary-color;
    }
}